@import './normalize';
@import './variables';
@import './utils/mixins';

@import './pages/index';
@import './pages/about';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

body {
    background: $primary-color;
    padding: 25px
}

p {
    margin-bottom: 0;
}