@import './normalize';
@import './variables';
@import './partials/about';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: $primary-color;
    padding: 25px
}

.main {
    color: $text-color;
    width: 80%;
    margin: 50px auto;
    
    #{&}_paragraph {
        // font-weight: map-get($font-weights, bold );
        font-weight: weight(regular);
        cursor: pointer;
        
        &:hover {
            color:rgb(184, 99, 113);
        }
    }
}