$primary-color: rgb(105, 59, 59);
$accent-color: rgb(230, 204, 184);
$text-color: white;

$media-border: 5px;

$teal-fade: linear-gradient(to top, #0e5f74, rgb(93, 235, 235));

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$mobile: 800px;