.about {
    padding-bottom: 2rem;

    &_bio-image {
        box-sizing: border-box;
        padding-bottom: .75rem;
        height: 25vh;
        width: 100%;
        background: 
        linear-gradient(
            to right, 
            rgba($primary-color, 0.4),
            rgba($primary-color, 0.1)
            ),
        url('../img/bg.jpg') center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        & > h2 {
            margin: 4px;
        }

        & > p {
            margin: 0;
            padding: 0 1rem 0;
        }
    }
}

// 'sm': '640px',
@media only screen and (min-width: 640px) {
}

// 'md': '768px',
@media only screen and (min-width: 768px) {
}

// 'lg': '1024px',
@media only screen and (min-width: 1024px) {
}

//'xl': '1280px',
@media only screen and (min-width: 1280px) {
}

// '2xl': '1536px',
@media only screen and (min-width: 1536px) {
}