.alpine-body {
    background: white;
}

.alpine-header {
    // background color that is facebook blue.
    background: #3b5998;
    display: flex;
    justify-content: space-between;

    padding: 10px;
    align-items: center;

    &-search {
        display: flex;
    }
    &-links {
        display: flex;
    }
    &-profile {
        display: flex;
    }
}

.search {
    border: 1px solid white;

    &-icon {
     border: 1px solid yellow;   
    }

    &-input {
        border: 1px solid greenyellow;
    }
}
