.alpine-body {
    background: $dark-gray;
}

.alpine-header {
    background: $medium-gray;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #585858;
    padding: 7px 7px 0 16px;
    align-items: center;
    height: 63px;

    &-search {
        display: flex;
    }

    &-links {

        display: none;


        &-link {
            padding-bottom: 5px;

            &-button {
                width: 90px;
                height: 45px;
                padding-top: 1px;
                border-radius: 7px;
                
            }
            &-button:hover {
                background: rgb(93, 93, 94);
            }
        }

        &-link svg {
            color: $icon-gray;
            display: block;
            margin: 6px auto 0;
        }

    }

    &-profile {
        display: flex;

        &-account {
            display: flex;
            align-items: center;

            &-avatar {
                width: 40px;
                margin-right: 5px;;
                height: 40px;
                border-radius: 50%;
                background:rgb(93, 93, 94)
            }
            &-name {
                margin-right: 5px;
                font-size: .9rem;
            }
        }
        &-item {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 8px;
            background: rgb(93, 93, 94);
        }

        &-item:hover, &-account-avatar:hover {
            background: rgb(126, 126, 126);
        }
    }
}

.search {
    display: none;

    &-icon {
    width: 40px;
    padding: 10px;
    height: 40px;
    border-radius: 20px 0 0 20px;
    background: #57595a;
    overflow: hidden;

        &-svg {
            padding: 3px;
            margin-top: -3px;
            color: $icon-gray;
        }
    }
    &-input {
        background: #57595a;
        border-radius: 0 20px 20px 0;
        height: 40px;
        border: none;
        outline: none;
        color: $icon-gray;
    }
}

::placeholder {
    color: $icon-gray;
}

.back {
    height: 40px;
    width: 40px;
    margin-right: 8px;
    border-radius: 50%;
    // add a background gradient from blue to light blue.
    background: linear-gradient(to top, #0e5f74, rgb(93, 235, 235));
}

.mobile-search {
    height: 40px;
    width: 40px;
    background:rgb(93, 93, 94);
    border: none;
    border-radius: 50%;
    color: $icon-gray;
    padding: 10px;
    margin-left: -3px;
}

.back svg {
    margin-left: -1px;
    width: 40px;
}

.body {
    width: 100%;
    justify-content: space-between;
    display: flex;
    height: 500px;
    
    &-col {
        width: 100%;
    }
}

.top-links, .bot-links {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;

    &-item {
        // padding: 7px;
        border-radius: 7px;
        display: flex;
        align-items: center;

        &-icon {
            margin-right: 8px;
            height: 35px;
            width: 35px;
            background: $teal-fade;
            border-radius: 50%;
            padding: 5px;
        }
        &-icon svg {
            margin-top: -2px;
            width: 25px;
            height: 25px;
            color: rgb(46, 46, 46);
        }
    }
}

.top-links, .bot-links {
    &-item:hover {
    background: rgb(93, 93, 94);
    }
}

.active-tab {
    border-bottom: 5px solid rgb(76, 207, 207);
}

// CENTER COLUMN
.body-col {

    &-center-section {
        display: flex;
        flex-direction: column;
        background: $medium-gray;
        margin: 15px 0 0;
        border-radius: 5px;
        overflow: hidden;

        &-name {
            padding: 5px;
            display: flex;
            justify-content: space-between;

            &-left {
                display:flex;
                &-avatar {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background: #353738;
                    border: 1px solid #585858;
                }
                &-name { 
                    margin-left: 10px;
                }
                &-time {
                    margin: 5px 0px 0 10px;
                    font-size: .75rem;;
                }
            }
            &-mm {
                border-radius: 50%;
                width: 35px;
                height: 35px;
                padding: 3px;
            }
            &-mm:hover {
                background: rgb(93, 93, 94);
            }
            &-mm svg {
                color: $icon-gray;
            }
        }       
        &-content {
            background: cadetblue;
            width: 100%;
            height: 200px;
        }
        &-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-buttons button {
            width: 50px;
            display: flex;
            background: none;
            border: none;
            color: $icon-gray;
            flex-direction: column;
            align-items: center;
        }
        &-buttons button svg {
            width: 25px;
        }

        &-comments {
            margin: 10px;
            border-radius: 10px;
            padding: 10px;
            background: $light-gray;
        }
    }
}


// 'sm': '640px',
@media only screen and (min-width: 640px) {

}

// 'md': '768px',
@media only screen and (min-width: 768px) {
    .alpine-header { 

    
        &-links {
            display: flex;
        }
    }
    
    .search {
        display: none;
    
        &-icon {
        width: 40px;
        padding: 10px;
        height: 40px;
        border-radius: 20px 0 0 20px;
        background: #57595a;
        overflow: hidden;
    
            &-svg {
                padding: 3px;
                margin-top: -3px;
                color: $icon-gray;
            }
        }
        &-input {
            background: #57595a;
            border-radius: 0 20px 20px 0;
            height: 40px;
            border: none;
            outline: none;
            color: #b0b3b8;
        }
    }
}

// 'lg': '1024px',
@media only screen and (min-width: 1024px) {
    .search {
        display: flex;
    }
    .mobile-search {
        display: none;
    }
}

//'xl': '1280px',
@media only screen and (min-width: 1280px) {
}

// '2xl': '1536px',
@media only screen and (min-width: 1536px) {
}