.alpine-body {
    background: white;
}

.alpine-header {
    background: #353738;
    display: flex;
    justify-content: space-between;

    padding: 7px;
    align-items: center;

    &-search {
        display: flex;
    }
    
    &-links {
        display: flex;
        &-link {
            width: 25px;
            height: 25px;
            background: blue;
        }
    }

    &-profile {
        display: flex;
    }
}

.search {

    display: flex;

    &-icon {
    width: 40px;
    padding: 10px;
    height: 40px;
     border-radius: 20px 0 0 20px;
     background: #57595a;
     overflow: hidden;

        &-svg {
            padding: 3px;
            margin-top: -3px;
            color: #b0b3b8;
        }
    }
    &-input {
        background: #57595a;
        border-radius: 0 20px 20px 0;
        height: 40px;
        border: none;
        outline: none;
    }
}

::placeholder {
    color: #b0b3b8;
}

.back {
    height: 30px;
}